<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Flight Search Results'"/>
<table border="1">
    <thead>
    <tr>
        <th>Flight Id</th>
        <th>Airplane Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Available Seats</th>
        <th>Departure Date</th>
        <th>Travel Class</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="flight : ${searchResults}">
        <td th:text="${flight.flightNumber}"/>
        <td th:text="${flight.getAirPlaneName()}"/>
        <td th:text="${flight.source}"/>
        <td th:text="${flight.destination}"/>
        <td th:text="${flight.getSeatsByClass(searchCriteria.travelClass)}"/>
        <td th:text="${flight.departureDate}"/>
        <td th:text="${searchCriteria.travelClass}"/>
    </tr>
    </tbody>
</table>
</body>
</html>